<?xml version="1.0"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="Heatbeat Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>             

    <filter>
        <whitelist>
            <directory suffix=".php">lib/Heatbeat</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix=".php">lib/Heatbeat/Source/Plugin</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>